<div style="text-align:center">
  <h1>
    Страница {{ title }}!
  </h1>
  <h2 style="text-align: center;"> Заполните формы чтобы перейти во вкладку пользователи и нажмите сохранить</h2>

  <form [formGroup]="form">
    <div class="form-group list-group-item-secondary">
      <div class="form-control-lg">
        <label for="lastName">Фамилия</label>
        <input id="lastName" type="text" formControlName="lastName" [value]="user.lastName"/>
      </div>
      <div class="alert alert-danger" *ngIf="onReturnFN('lastName').invalid && onReturnFN('firstName').touched">Форма обязательна для заполнения</div>

      <div class="form-control-lg">
        <label for="firstName">Имя</label>
        <input id="firstName" type="text" formControlName="firstName" [value]="user.firstName"/>
      </div>
      <div class="alert alert-danger" *ngIf="onReturnFN('firstName').invalid && onReturnFN('firstName').touched">Форма обязательна для заполнения</div>

      <div class="form-control-lg ">
        <label for="patronimyc">Отчество</label>
        <input id="patronimyc" type="text" formControlName="patronimyc" [value]="user.patronimyc"/>
      </div>
      <div class="alert alert-danger" *ngIf="onReturnFN('patronimyc').invalid && onReturnFN('patronimyc').touched">Форма обязательна для заполнения</div>

      <div class="form-control-lg">
        <label for="phone">Телефон</label>
        <input id="phone" type="text" formControlName="phone" [value]="user.phone"/>
      </div>
      <div class="alert alert-danger" *ngIf="onReturnFN('phone').invalid && onReturnFN('phone').touched">Форма обязательна для заполнения</div>

      <div class="form-control-lg">
        <label for="spec">Специализация</label>
        <input id="spec" type="text" formControlName="specialization" [value]="user.specialization"/>
      </div>
      <div class="alert alert-danger" *ngIf="onReturnFN('specialization').invalid && onReturnFN('specialization').touched">Форма обязательна для заполнения</div>
      <div class="form-control-lg">
        <label for="info">Информация о себе</label></div>
      <textarea id="info" type="text" formControlName="info" [value]="user.info"></textarea>
    </div>
    <div class="alert alert-danger" *ngIf="onReturnFN('info').invalid && onReturnFN('info').touched">Форма обязательна для заполнения</div>
    <button type="submit" class="btn btn-warning" [disabled]="form.invalid" (click)="onSubmit()">Сохранить</button>
  </form>
</div>
