<h2>Количество записей-
  <select class="custom-select-lg btn btn-outline-info ">
    <option>Выберите</option>
    <option *ngFor="let item of user;let i=index" ></option>

  </select>
</h2>

<div class="card text-center" *ngFor="let item of user|async">
  <div class="card-header">
    Карточка-{{item.id}}
  </div>
    <div class="card-body">
      <h5 class="card-title">
       ФИО: {{item.firstName}} {{item.lastName}} {{item.patronimyc}}<br>
        <p>Специализация:{{item.specialization}}</p></h5>
      <p class="card-text">Информация о себе:{{item.info}}</p>
      <a class="btn btn-primary" (click)="onDelete(item.id)">Удалить</a>
    </div>
    <div class="card-footer text-muted">
      Телефон:{{item.phone}}
    </div>
  <button routerLink="/home/{{item.id}}" class="btn btn-outline-secondary">Изменить</button>
</div>
<button routerLink="/home" class="btn btn-outline-danger col-md-4 text-center" >Добавить</button>
<nav class="aria-label">
  <ul class="pagination">
  <li class="page-item">
    <a class="page-link active"  ></a>
  </li>
  </ul>

</nav>

